body.page {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}
img {
  display: block;
}
.site-header {
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.site-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  margin-right: 40px;
  gap: 40px;
}
.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  margin-right: 76px;
  margin-bottom: 16px;
}

.logo-accent {
  color: #2e2f42;
}

.nav-link {
  color: #404bbf;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;

}


.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.site-address {
  display: flex;
  gap: 40px;
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
}
.contact {
  font-size: 16px;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  line-height: 1.5;
  letter-spacing: 0.02em;

}

.contact:hover,
.contact:focus{
  color: #404bbf;
}

.hero-section {
  padding: 188px 0;
  background-color: #2e2f42;
  text-align: center;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.png);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  transition:back
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  text-align: center;
  line-height: 1.07;
  max-width: 496px;
}

.hero-button {
  display: block;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms ease;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.section-title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
  line-height: 1.07;
}
.features-section {
  padding: 120px 0;
}
.features-list {
  display: flex;
  gap: 24px;
}
.feature-item {
  flex-basis: calc((100% - 72px) / 4);
}
.feature-title {
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;

}
.team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-member {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  text-align: center;
}
.team-container{
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-info {
  padding: 32px 0;
  text-align: center;
}
.team-name {
  margin-bottom: 8px;
  text-align: center;
}
.team-role {
  text-align: center;
}
.team-list {
  display: flex;
  gap: 24px;
}
.social-list{
  display: flex;
  justify-content: center;
  gap:24px;
}
.social-item{
  width: 40px;
  height: 40px;
}
.social-link{
  width: 100%;
  height:100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus{
  background-color: #404bbf;
}
.social-icon{
  fill: #f4f4fd;
}
.portfolio-section{
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-section:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
   0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08); 
}
.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  box-sizing: border-box;
  transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover{
  box-shadow:
   0px 1px 6px rgba(46, 47, 66, 0.08),
   0px 1px 1px rgba(46, 47, 66, 0.16),
   0px 2px 1px rgba(46, 47, 66, 0.08); 
   transform:translateY(0%);
}
.portfolio-thumb{
  position:relative;
  overflow:hidden;
}
.portfolio-overlay{
  position:absolute;
  top:0;
  font-size:16px;
  line-height:1.5;
  letter-spacing: 0.02em;
  color:#f4f4fd;
  padding:40px 32px;
  background-color:#4d5ae5;
  height:100%;
  width:100%;
  transform:translateY(100%);
  transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  margin-bottom: 8px;
}

.portfolio-category {
  font-size: 16px;
  color: #434455;
}
.-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-container{
  display:flex;
  align-items: baseline;
}
.site-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-info{
  margin-right:120px;
}
.footer-logo{
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  max-width: 264px;
}
.social-title{
  font-weight:500;
  font-size:16px;
  line-height: 1.5;
  letter-spacing:0.02em;
  color:#ffffff;
  margin-bottom: 16px;
}
.footer-subscribe {
  margin-left: 80px;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-label {
  display: block;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  outline: none;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}
.modal-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}


.modal-form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-form-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.modal-checkbox-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

#user-privacy:checked + .checkbox-label .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-privacy-link {
  color: #4d5ae5;
  margin-left: 4px;
}


.modal-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #404bbf;
}
.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}
.site-footer .social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-footer .social-link:hover,
.site-footer .social-link:focus {
  background-color: #31d0aa;
}
.hero-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}